@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hey pardner</h1>
    <a asp-action="Expenses" class="btn btn-primary">Overview</a>
    <a asp-action="CreateEditExpense" class="btn btn-secondary">Create new</a>
</div>


@* You only need to specify asp-action and not asp-controller because this view already lives
    within the Home controller.
*@